hata==1.1.105
hikari==2.0.0.dev102; python_version >= "3.8"
uvloop>=0.16; sys_platform != "win32" and python_version >= "3.8"
hikari-tanjun==2.1.0a1; python_version >= "3.9"
hikari-lightbulb==1.3.1; python_version >= "3.8"
